*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html{
  display: block;
}
.header-section{
   width: 100% !important;
   background-color: rgba(218, 215, 215, 0.908);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}
.header{
    background: rgba(217, 217, 217, 0.702);
    font-size: 12px;
    
    width: 100% !important;
}
.align-items{
  margin-top: 30px;
}
.img{
  height: 48px;
  width: 290px;
  display: inline-block;
  margin-left: 90px;
  margin-right: 340px;
}
.nav-menu-container{
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
  position: fixed;
  display: inline-flex;
 
}
.nav-menu-container ul{
  float: right;
  margin-right: 20px;
  
}
.nav-menu-container ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.nav-menu-container ul li a{
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color:  rgb(171, 117, 47);
    font-weight: bold;
    font-size: 14px;
    outline: none;
    transition: color 0.15s;
}
.nav-menu-container ul li a:hover{
  color: white;
}
.nav-menu-container ul li a:active{
  opacity: 0.7;
}
/*.UG-academic-program{
  background: rgba(217, 217, 217, 0.702);
  padding-bottom:3px ;
  padding-left: 10px;
  padding-top: 4px;
}*/
.UG-academic-program p a{
  display: inline-block;
  text-decoration: none;
  padding-left: 70px;
  text-align: center;
 
}
.home-icon{
  width:40px;
  height: 40px;
  display: inline-block;
  border-style: none;
}

.main-heading h1{
  position: relative;
  margin-top: 200px;
  margin-bottom: 30px;
}

.short-course{
  color: #555;
  margin-left: 50px;
}
/* .short-course-cont{
  display: flex;
  max-width: 400px;
} */


.wrap-text{
  display: flex;
  justify-content: center;
  place-items: center;
  max-width: 50ch;
}

.float-image{
  display: flex;
  gap: 8rem;
  margin-left: 90px;
}

.srt-cont{
  display: flex;
  justify-content: center;
  place-items: center;
  max-width: 40ch;
}
.grad-cap{
  width: 50px;
  height: 30px;
}
.cert-img{
  width: 50px;
  height: 30px;
}
.register-btn{
  padding-top: 12px;
  padding-bottom:12px;
  padding-left: 9px;
  padding-right: 9px;
  border:none;
  color: white;
  background-color:rgb(171, 117, 47); ;
}
.top-links-container{
  margin-left: 40px;
  display: inline-flex;
  justify-content: space-between;
}
.top-links-container h2{
  margin-right:10px ;
}
.top-links-container ul{
  float: right;
  margin-right: 8px;
}
.top-links-container ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 30px;
}
.top-links-container ul li a{
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: flex;
  place-items: center;
  align-items: center;
  color: #000;
  font-weight: 520;
  font-size: 14px;
  outline: none;
  margin-right: 110px;
  margin-left: 40px;
}
.top-ul{
  display: flex;
}
.admission{
  display: flex;
  flex-direction: row;
  flex-direction: column;
}
.careers{
  display: flex;
  flex-direction: column;
}
.libraries{
  display: flex;
  flex-direction: column;
}
.executives{
  display: flex;
  flex-direction: column;
}
.footer-section{
  background-color: rgba(2, 24, 69, 0.908);
  padding-bottom: 100px;
  padding-top: 60px;
  margin-left: 80px;
  margin-right: 50px;
  padding-left: 50px;
  display: inline-block;
}

.footer-top ul{
  float: right;
  margin-right: 6px;
}
.footer-top ul li{
  list-style: none;
  margin: 0 4px;
  display: inline-block;
  line-height: 18px; 
}
.footer-top ul li a{
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: flex;
  place-items: center;
  align-items:center;
  color: rgb(171, 117, 47);
  font-weight: 500;
  font-size: 14px;
  outline: none;
  margin-right: 78px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.footer-top ul li a:hover{
  color: white;
  text-decoration: underline;
}
.footer-col-1{
    flex: 0 0 25%;
    padding-right: 16px;
    padding-left: 15px;
    padding-top: 30px;
    display: inline-block;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 18px;
}
.footer-col-1 h2{
  font-size: 28px;
  color: white;
}
.footer-col-1 ul{
  margin-left: 4px;
}
.footer-col-1 ul li{
  list-style: none;
  line-height: 25px;
  line-height: 28px;
}
.footer-col-1 ul li a{
  text-decoration: none;
  color: white;
}

.footer-col-2{
    flex: 0 0 25%;
    padding-right: 16px;
    padding-left: 15px;
    padding-top: 19px;
    flex-direction: column;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.footer-col-2 h2{
  font-size: 28px;
  color: white;
}
.footer-col-2 ul{
  margin-left: 4px;
}
.footer-col-2 ul li{
  list-style: none;
  line-height: 28px;
}
.footer-col-2 ul li a{
  text-decoration: none;
  color: white;
}
.footer-col-3{
  flex: 0 0 25%;
  padding-right: 16px;
  padding-left: 15px;
  padding-top: 14px;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 12px;
  display: inline-block;
}
.footer-col-3 h2{
font-size: 26px;
color: white;
}
.footer-col-3 ul{
margin-left: 4px;
}
.footer-col-3 ul li{
list-style: none;
line-height: 28px;
}
.footer-col-3 ul li a{
text-decoration: none;
color: white;
}
.footer-col-4{
  flex: 0 0 25%;
  padding-right: 16px;
  padding-left: 15px;
  padding-top: 14px;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 12px;
  display: inline-block;
}
.footer-col-4 h2{
font-size: 26px;
color: white;
}
.footer-col-4 ul{
margin-left: 4px;
}
.footer-col-4 ul li{
list-style: none;
line-height: 28px;
}
.footer-col-4 ul li a{
text-decoration: none;
color: white;
}

.footer-col-5{
  flex: 0 0 25%;
  padding-right: 16px;
  padding-left: 15px;
  padding-top: 14px;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 12px;
}
.footer-col-5 h2{
  font-size: 26px;
  color: white;
  margin-bottom: 9px;
}
.footer-col-5 p{
  color: rgb(146, 146, 146);
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom:9px ;
}

.input-btn{
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 75px;
}
.btn-btn{
  display: inline-block;
  padding-top:12px ;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 12px;
}
.footer-col-6 {
  flex: 0 0 25%;
  padding-right: 16px;
  padding-left: 15px;
  padding-top: 14px;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 12px;
  color: white;
}
.footer-col-6 .p1{
  margin-top: 8px;
  font-size: 20px;
}

.phone-icon{
  width:20px;
  height: 20px;
  display: inline-block;
  border-style: none;
}
.envelope-icon{
  width:20px;
  height: 20px;
  display: inline-block;
  border-style: none;
}

.Loca-tion{
  flex: 0 0 25%;
  padding-right: 16px;
  padding-left: 15px;
  padding-top: 14px;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 12px;
  color: white;
  font-size: 18px;
}
.Loca-tion h2{
  font-size: 22px;
}
.Loca-tion ul{
  list-style: none;
}
.Loca-tion ul li {
  font-size: 14px;
}
