*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html{
  display: block;
}
.header-section{
  width: 100% !important;
    background-color: rgba(88, 82, 82, 0.908);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}
.header{
  background: rgba(84, 77, 77, 0.702);
    font-size: 12px;
    padding: 8px;
    width: 100% !important;
}
.align-items{
  margin-top: 30px;
}
.img{
  height: 48px;
  width: 290px;
  display: inline-block;
  margin-left: 90px;
  margin-right: 340px;
}
.nav-menu-container{
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
  position: fixed;
  display: inline-flex;
 
}
.nav-menu-container ul{
  float: right;
  margin-right: 20px;
  
}
.nav-menu-container ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.nav-menu-container ul li a{
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color:  rgb(171, 117, 47);
    font-weight: bold;
    font-size: 14px;
    outline: none;
    transition: color 0.15s;
}
.nav-menu-container ul li a:hover{
  color: white;
}
.nav-menu-container ul li a:active{
  opacity: 0.7;
}
.UG-career-path{
  background-color: gray;
  padding-bottom:3px ;
  padding-left: 10px;
  padding-top: 4px;
}
.UG-career-path p a{
  display: inline-block;
  text-decoration: none;
  padding-left: 70px;
  text-align: center;
 
}
.home-icon{
  width:40px;
  height: 40px;
  display: inline-block;
  border-style: none;
}