*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html{
  display: block;
}
.header-section{
  width: 100% !important;
    background-color: rgba(218, 215, 215, 0.908);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}
.header{
    background: rgba(217, 217, 217, 0.702);
    font-size: 12px;
    padding: 8px;
    width: 100% !important;
}
.align-items{
  margin-top: 30px;
}
.img1{
  height: 48px;
  width: 290px;
  display: inline-block;
  margin-left: 90px;
  margin-right: 340px;
}
.nav-menu-container{
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
  position: fixed;
  display: inline-flex;
 
}
.nav-menu-container ul{
  float: right;
  margin-right: 20px;
  
}
.nav-menu-container ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.nav-menu-container ul li a{
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color:  rgb(171, 117, 47);
    font-weight: bold;
    font-size: 14px;
    outline: none;
    transition: color 0.15s;
}
.nav-menu-container ul li a:hover{
  color: white;
}
.nav-menu-containervul li a:active{
  opacity: 0.7;
}
.bckgrd-img{
  margin-left: 90px;
  margin-right: 200px;
  width: 1200px;
  height: 300px;
  margin-top: 130px;
  
}
.feature-area{
  margin-top: 56px;
  display: block;
  box-sizing: border-box;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -14px;
    margin-left: -14px;
    justify-content: center;
    flex-direction: row;
}
.course1{
    flex: 0 0 25%;
    padding-right: 16px;
    padding-left: 75px;
    padding-top: 40px;
    flex-direction: column;
    background-color: rgba(2, 24, 69, 0.908);
    box-sizing: border-box;
    margin-right: 50px;
    margin-left: 60px;
    margin-bottom: 20px;
}
.course2{
  flex: 0 0 25%;
  padding-right: 16px;
  padding-left: 75px;
  padding-top: 40px;
  flex-direction: column;
  background-color:rgba(2, 24, 69, 0.908);
  box-sizing: border-box;
  margin-right: 50px;
  margin-bottom: 20px;
 
}
.course3{
  flex: 0 0 25%;
    padding-right: 16px;
    padding-left: 75px;
    padding-top: 40px;
    flex-direction: column;
    background-color: rgba(2, 24, 69, 0.908);
    box-sizing: border-box;
    margin-right: 50px;
    margin-bottom: 20px;
}
.CS-programs{
    flex: 0 0 25%;
    padding-right: 16px;
    padding-left: 75px;
    padding-top: 40px;
    flex-direction: column;
    background-color:rgba(2, 24, 69, 0.908);
    box-sizing: border-box;
    margin-right: 50px;
    margin-left: 60px;
    margin-bottom: 20px;
    background-image:url("20230328_090427.jpg") ;
}
.course4{
  flex: 0 0 25%;
    padding-right: 16px;
    padding-left: 75px;
    padding-top: 40px;
    flex-direction: column;
    background-color:rgba(2, 24, 69, 0.908);
    box-sizing: border-box;
    margin-right: 50px;
    margin-bottom: 20px;
 
}
.career-dev{
  flex: 0 0 25%;
  padding-right: 16px;
  padding-left: 75px;
  padding-top: 40px;
  flex-direction: column;
  background-color:  rgba(2, 24, 69, 0.908);
  box-sizing: border-box;
  margin-right: 50px;
  margin-bottom: 20px;
  background-image: url(copy.jpg);
}
.title1{
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}


.para1-shrt-course{
  margin-bottom: 30px;
  line-height: 20px;
  inline-size: 200px;
  color: white;
}
.bold1-shrt-course{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(171, 117, 47);
}
.title2{
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
}

.para2-under-program{
  color: white;
  margin-bottom: 50px;
  line-height: 20px;
  inline-size: 200px;
}
.bold2-under-program{
  margin-top: 20px;
  margin-bottom: 20px;
  color:rgb(171, 117, 47);
}
.title3{
  margin-bottom: 30px;
  font-size: 20px;
  color:white;
}


.para3-MPhil{
  margin-bottom: 70px;
  line-height: 20px;
  inline-size: 200px;
  color:white;
}
.bold3-MPhil{
  margin-top: 20px;
  color:rgb(171, 117, 47);
}

.event{
  margin-bottom: 30px;
  font-size: 20px;
}
.event:hover{
  color: white;
}
.para-event{
  margin-bottom: 70px;
  line-height: 20px;
  inline-size: 200px;
}
.bold-event{
  margin-top: 20px;
  color:rgb(171, 117, 47);
}

.title4{
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
}

.para4-PhD{
  margin-bottom: 70px;
  line-height: 20px;
  inline-size: 200px;
  color: white;
}
.bold4-PhD{
  margin-top: 20px;
  color:rgb(171, 117, 47);
}
.career{
  margin-bottom: 30px;
  font-size: 20px;
}
.career:hover{
  color: white;
}
.para-dev{
  margin-bottom: 90px;
  line-height: 20px;
  inline-size: 200px;
}
.bold-dev{
  margin-top: 20px;
  color:rgb(171, 117, 47);
}
.top-links-container{
  margin-left: 40px;
  display: inline-flex;
  justify-content: space-between;
}
.top-links-container h2{
  margin-right:10px ;
}
.top-links-container ul{
  float: right;
  margin-right: 8px;
}
.top-links-container ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 30px;
}
.top-links-container ul li a{
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: flex;
  place-items: center;
  align-items: center;
  color: #000;
  font-weight: 520;
  font-size: 14px;
  outline: none;
  margin-right: 110px;
  margin-left: 40px;
}
.top-ul{
  display: flex;
}
.admission{
  display: flex;
  flex-direction: row;
  flex-direction: column;
}
.careers{
  display: flex;
  flex-direction: column;
}
.libraries{
  display: flex;
  flex-direction: column;
}
.executives{
  display: flex;
  flex-direction: column;
}
.footer-section{
  background-color: rgba(2, 24, 69, 0.908);
  padding-bottom: 100px;
  padding-top: 60px;
  margin-left: 80px;
  margin-right: 50px;
  padding-left: 50px;
  display: inline-block;
}

.footer-top ul{
  float: right;
  margin-right: 6px;
}
.footer-top ul li{
  list-style: none;
  margin: 0 4px;
  display: inline-block;
  line-height: 18px; 
}
.footer-top ul li a{
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: flex;
  place-items: center;
  align-items:center;
  color: rgb(171, 117, 47);
  font-weight: 500;
  font-size: 14px;
  outline: none;
  margin-right: 78px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.footer-top ul li a:hover{
  color: white;
  text-decoration: underline;
}
.fot-content{
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.cont-fot{
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

/* @media screen{
  min-width{}
} */

.footer-col-1{
    flex: 0 0 25%;
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 18px;
}
.footer-col-1 h2{
  font-size: 28px;
  color: white;
}
.footer-col-1 ul{
  margin-left: 4px;
}
.footer-col-1 ul li{
  list-style: none;
  line-height: 25px;
  line-height: 28px;
  
}
.footer-col-1 ul li a{
  text-decoration: none;
  color: white;
}

.footer-col-2{
    flex: 0 0 25%;
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 30px;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.footer-col-2 h2{
  font-size: 28px;
  color: white;
}
.footer-col-2 ul{
  margin-left: 4px;
}
.footer-col-2 ul li{
  list-style: none;
  line-height: 28px;
}
.footer-col-2 ul li a{
  text-decoration: none;
  color: white;
}
.footer-col-3{
  flex: 0 0 25%;
  padding-right: 20px;
  padding-left: 15px;
  padding-top: 20px;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 12px;
  display: inline-block;
}
.footer-col-3 h2{
font-size: 26px;
color: white;
}
.footer-col-3 ul{
margin-left: 4px;
}
.footer-col-3 ul li{
list-style: none;
line-height: 28px;
}
.footer-col-3 ul li a{
text-decoration: none;
color: white;
}
.footer-col-4{
  flex: 0 0 25%;
  padding-right: 16px;
  padding-left: 15px;
  padding-top: 14px;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 12px;
  display: inline-block;
}
.footer-col-4 h2{
font-size: 26px;
color: white;
}
.footer-col-4 ul{
margin-left: 4px;
}
.footer-col-4 ul li{
list-style: none;
line-height: 28px;
}
.footer-col-4 ul li a{
text-decoration: none;
color: white;
}

.footer-col-5{
  flex: 0 0 25%;
  padding-right: 16px;
  padding-left: 15px;
  padding-top: 14px;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 12px;
}
.footer-col-5 h2{
  font-size: 26px;
  color: white;
  margin-bottom: 9px;
}
.footer-col-5 p{
  color: rgb(146, 146, 146);
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom:9px ;
}

.input-btn{
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 75px;
}
.btn-btn{
  display: inline-block;
  padding-top:12px ;
  padding-bottom: 12px;
  padding-right: 15px;
  padding-left: 12px;
}
.footer-col-6 {
  flex: 0 0 25%;
  padding-right: 16px;
  padding-left: 15px;
  padding-top: 14px;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 12px;
  color: white;
}
.footer-col-6 .p1{
  margin-top: 8px;
  font-size: 20px;
}
.cont-info{
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 2rem;
}

.Loca-tion{
  flex: 0 0 25%;
  padding-right: 13px;
  padding-left: 12px;
  padding-top: 14px;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom:30px ;
  color: white;
  font-size: 18px;
}
.Loca-tion h2{
  font-size: 22px;
  margin-right: 4px;
 
}
.lction-12{
  margin-right: 10px;
  
}
.btn-btn{
  border-radius: 2px;
  background-color: rgb(17, 155, 17);
  border: none;
  padding-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.btn-btn:hover{
  background-color: rgb(58, 236, 58);
}
.btn-btn:active{
  opacity: 0.7;
}
 
