header{
    position: relative;
    top: 0;
    right: 70px;
    width: 100%;
    padding: px 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    z-index: 99;
    }

    .logo {
        color: #fff;
    }

    .navigation a {
        position: relative;
        font-size: 1.1em;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        margin-left: 100px;
    }
    
    .navigation a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width:100%;
        height: 3px;
        background: rgb(197, 197, 75);
        border-radius: 5px;
        transform-origin: right; 
        transform: scaleX(0);
        transition: transform .5s;
    }
    .navigation a:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }
     
    body{
        overflow-x: hidden;
        background-color: #f0f0f4;
    }

    .container{
        position: relative;
        text-align: center;
        border-color: black;
        width: 400px;
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 30px;
        margin-top: 8%;
    }

.container .card{
    width: 308px;
    position: relative;
    height: 400px;
    background: #dcdced;
    margin: 30px 10px;
    top: -100px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px gray;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
}


     .head{
        background-color: antiquewhite;
        width: 315px;
        height: 70px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
           }

    .container2{
        position: relative;
        text-align: center;
        border-color: black;
        width: 400px;
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 30px;
        margin-top: 8%;
        right: -500px;
        top: -200px;
       }
    
       .container2 .card2{
        width: 308px;
        position: relative;
        height: 400px;
        background: #dcdced;
        top: -565px;
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0.5px 10px gray;
        transition: 0.3s ease-in-out;
        margin-top: 5%;
    }


     .head2{
        background-color: antiquewhite;
        width: 315px;
        height: 70px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
            }

            .container3{
                position: relative;
                text-align: center;
                border-color: black;
                width: 400px;
                box-sizing: border-box;
                flex-wrap: wrap;
                padding: 30px;
                margin-top: 8%;
                right: -970px;
                top: -1432px;
                    }
            
              .container3 .card3{
                width: 308px;
                position: relative;
                height: 400px;
                background: #dcdced;
                margin: 30px 10px;
                padding: 20px 15px;
                display: flex;
                flex-direction: column;
                box-shadow: 0.5px 10px gray;
                transition: 0.3s ease-in-out;
                margin-top: 5%;
                    }

             .head3{
                background-color: antiquewhite;
                width: 315px;
                height: 70px;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center;
                    } 
 
 .container4{
    position: relative;
    width: 2100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 8%;
 }

.container4 .card4{
    width: 600px;
    position: relative;
    height: 550px;
    right: 300px;
    top: -200px;
    background: #dcdced;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px gray;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
}

.container5{
    position: relative;
    width: 2100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 8%;
 }

.container5 .card5{
    width: 1350px;
    position: relative;
    height: 1850px;
    top: -1300px;
    left: -350px;
    background: #0c0c74;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
} 


    
.bluefooter{
   color: #fff; 
}

.container6{
    position: relative;
    text-align: center;
    border-color: black;
    width: 1400px;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 8%;
}

.container6 .card6{
width: 1400px;
position: relative;
height: 1400px;
background: #dcdced;
margin: 30px 10px;
top: -100px;
padding: 20px 15px;
display: flex;
flex-direction: column;
transition: 0.3s ease-in-out;
margin-top: 5%;
}


 .head6{
    background-color: antiquewhite;
    width: 1400px;
    height: 70px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
       }

       .container7{
        position: relative;
        text-align: center;
        border-color: black;
        width: 115px;
        box-sizing: border-box;
        flex-wrap: wrap;
        padding: 30px;
        margin-top: 8%;
    }

.container7 .card7{
    width: 315px;
    position: relative;
    height: 180px;
    background: #dcdced;
    margin: 30px 10px;
    top: -3750px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px gray;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
}


     .head7{
        background-color: antiquewhite;
        width: 315px;
        height: 70px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
           }

           .container8{
            position: relative;
            text-align: center;
            border-color: black;
            width: 115px;
            box-sizing: border-box;
            flex-wrap: wrap;
            padding: 30px;
            margin-top: 8%;
        }
    
    .container8 .card8{
        width: 1400px;
        position: relative;
        height: 780px;
        background: rgb(186, 185, 185);
        margin: 30px 10px;
        top: -100px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        transition: 0.3s ease-in-out;
        margin-top: 5%;
    }

