
*{
margin: 0;
padding: 0;
box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/air\ view\ of\ university\ of\ ghana.jpg) no-repeat; 
background-size: cover;
background-position: center;
}

header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: px 10px;
display: flex;
justify-content: space-around;
align-items: center;
z-index: 99;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
    float: left;
}


.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width:100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right; 
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
    

.navigation .btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnlogin-popup:hover {
    background: #fff;
    color: #162938;
}

