*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html{
  display: block;
}
.header-section{
    width: 100% !important;
    background-color: rgba(218, 215, 215, 0.908);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}
.header{
  background: rgba(217, 217, 217, 0.702);
    font-size: 12px;
    padding: 8px;
    width: 100% !important;
}
.align-items{
  margin-top: 30px;
}
.img{
  height: 48px;
  width: 290px;
  display: inline-block;
  margin-left: 90px;
  margin-right: 340px;
}
.nav-menu-container{
  height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
  position: fixed;
  display: inline-flex;
 
}
.nav-menu-container ul{
  float: right;
  margin-right: 20px;
  
}
.nav-menu-container ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.nav-menu-container ul li a{
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color:  rgb(171, 117, 47);
    font-weight: bold;
    font-size: 14px;
    outline: none;
    transition: color 0.15s;
}
.nav-menu-container ul li a:hover{
  color: white;
}
.nav-menu-container ul li a:active{
  opacity: 0.7;
}
.UG-Faculty{
  background:white;
  padding-bottom:3px ;
  padding-left: 10px;
  padding-top: 4px;
}
.UG-Faculty p a{
  display: inline-block;
  text-decoration: none;
  padding-left: 70px;
  text-align: center;
 
}

.context-title{
  margin-top: 150px;
  color: #333;
  margin-left: 20px;
}
.topic-1{
  margin-left: 100px;
}
.btn-1 button{
  margin-right: 140px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  border-width: 1px;
  color: white;
  background-color: gray;
  border-color: rgb(109, 107, 107);
  cursor: pointer;
}
.container-1{
  margin-top: 58px;
  margin-right: 30px;
  
}
.index-sty-1{
  margin-left: 30px;
}
.index-sty-2{
  margin-left: 130px;
}
.index-sty-3{
  margin-left: 30px;
}
.index-sty-4{
  margin-left: 30px;
}
#first-component{
  background-color: rgb(231, 231, 231);
  padding-bottom: 20px;
  margin-top: 30px;
}
.wrapper-container{
  margin-top: 40px;
   
    width: 900px;
}
.wrapper-container .leftColumn{
  margin-left: 20px;
    width: 400px;
    height: 300px;
    background:rgba(217, 217, 217, 0.702) ;
    float: left;
}
.wrapper-container .rightColumn
{
    width: 450px;
    margin-left:30px;
    height: 90px;
    background: white;
    float: left;
}
.announ-1{
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  border: none;
}
.rightColumn button{
  margin-left: 100px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px;
  border-width: 1px;
  color: white;
  background-color: gray;
  border-color: rgb(109, 107, 107);
  cursor: pointer;
}
.dubble-box{
  width: 90px;
  height: 90px;
  margin-top: 40px;
  
  background-color: white;
  float: left;
}
.dubble-text{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.evnt-btn button{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 30px;
  margin-left: 20px;
  color: white;
  border-color: gray;
  background-color: gray;
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
}
.top-links-container{
  margin-top: 100px;
  margin-left: 40px;
  display: inline-flex;
  justify-content: space-between;
}

.top-links-container h2{
  margin-right:10px ;
}
.top-links-container ul{
  float: right;
  margin-right: 8px;
}
.top-links-container ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 30px;
}
.top-links-container ul li a{
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: flex;
  place-items: center;
  align-items: center;
  color: #000;
  font-weight: 520;
  font-size: 14px;
  outline: none;
  margin-right: 110px;
  margin-left: 40px;
}
.top-ul{
  display: flex;
}
.admission{
  display: flex;
  flex-direction: row;
  flex-direction: column;
}
.careers{
  display: flex;
  flex-direction: column;
}
.libraries{
  display: flex;
  flex-direction: column;
}
.executives{
  display: flex;
  flex-direction: column;
}
.footer-section{
  background-color: rgba(2, 24, 69, 0.908);
  padding-bottom: 10px;
  padding-top: 60px;
  margin-left: 80px;
  margin-right: 50px;
  padding-left: 50px;
  display: inline-block;
}

.footer-top ul{
  float: right;
  margin-right: 6px;
}
.footer-top ul li{
  list-style: none;
  margin: 0 4px;
  display: inline-block;
  line-height: 18px; 
}
.footer-top ul li a{
  padding: 0 8px 0px 8px;
  text-decoration: none;
  display: flex;
  place-items: center;
  align-items:center;
  color: rgb(171, 117, 47);
  font-weight: 500;
  font-size: 14px;
  outline: none;
  margin-right: 78px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.footer-top ul li a:hover{
  color: white;
  text-decoration: underline;
}
.fot-content{
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.cont-fot{
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

/* @media screen{
  min-width{}
} */

.footer-col-1{
    flex: 0 0 25%;
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 18px;
}
.footer-col-1 h2{
  font-size: 28px;
  color: white;
}
.footer-col-1 ul{
  margin-left: 4px;
}
.footer-col-1 ul li{
  list-style: none;
  line-height: 25px;
  line-height: 28px;
  
}
.footer-col-1 ul li a{
  text-decoration: none;
  color: white;
}

.footer-col-2{
    flex: 0 0 25%;
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 30px;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.footer-col-2 h2{
  font-size: 28px;
  color: white;
}
.footer-col-2 ul{
  margin-left: 4px;
}
.footer-col-2 ul li{
  list-style: none;
  line-height: 28px;
}
.footer-col-2 ul li a{
  text-decoration: none;
  color: white;
}
.footer-col-3{
  flex: 0 0 25%;
  padding-right: 20px;
  padding-left: 15px;
  padding-top: 20px;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 12px;
  display: inline-block;
}
.footer-col-3 h2{
font-size: 26px;
color: white;
}
.footer-col-3 ul{
margin-left: 4px;
}
.footer-col-3 ul li{
list-style: none;
line-height: 28px;
}
.footer-col-3 ul li a{
text-decoration: none;
color: white;
}
.footer-col-4{
  flex: 0 0 25%;
  padding-right: 16px;
  padding-left: 15px;
  padding-top: 14px;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 12px;
  display: inline-block;
}
.footer-col-4 h2{
font-size: 26px;
color: white;
}
.footer-col-4 ul{
margin-left: 4px;
}
.footer-col-4 ul li{
list-style: none;
line-height: 28px;
}
.footer-col-4 ul li a{
text-decoration: none;
color: white;
}
